<h1>New Factory</h1>

<%= form_for :factories, url: factories_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :address1 %><br>
      <%= f.text_field :address1 %>
    </p>

    <p>
      <%= f.label :address2 %><br>
      <%= f.text_field :address2 %>
    </p>

    <p>
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </p>

    <p>
      <%= f.label :state %><br>
      <%= f.text_field :state %>
    </p>

    <p>
      <%= f.label :zipcode %><br>
      <%= f.text_field :zipcode %>
    </p>

    <p>
      <%= f.label :tags %><br>
      <%= f.text_field :tags %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>