<div class="row">
  <div class="col-md-12 col-lg-12">
    <h1>New Factory</h1>
  </div>
</div>

<div class="row">

<%= form_for :factory, url: factories_path do |f| %>

    <% if @factory.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@factory.errors.count, "error") %>
            prevented this factory from being added:
          </h2>
          <ul>
            <% @factory.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :address1 %><br>
      <%= f.text_field :address1 %>
    </p>

    <p>
      <%= f.label :address2 %><br>
      <%= f.text_field :address2 %>
    </p>

    <p>
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </p>

    <p>
      <%= f.label :state %><br>
      <%= f.text_field :state %>
    </p>

    <p>
      <%= f.label :zipcode %><br>
      <%= f.text_field :zipcode %>
    </p>

    <p>
      <%= f.label :tags %><br>
      <%= f.text_field :tags %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>
</div>

<%= link_to 'Back', factories_path %>