<div>
  <label>Factory:</label>
  <%= @factory.name %>
</div>

<div>
  <label>Email:</label>
  <%= @factory.email %>
</div>

<div>
  <label>Address:</label>
  <%= @factory.address1 %>
  <%= @factory.address2 %>
  <%= @factory.city %>, <%= @factory.state %> <%= @factory.zipcode %>
</div>

<div>
  <label>Tags:</label>
  <%= @factory.tags %>
</div>

<%= link_to 'Edit', edit_factory_path(@factory) %> |
<%= link_to 'Back', factories_path %> |
<%= link_to 'Delete', factory_path, method: :delete, data: { confirm: 'Are you sure?' } %>